<!DOCTYPE html>
<html>
  <head>
    <title>ERSP app</title>
    <h2>Text-To-Speech Synthesizer</h2>
  </head>
  
  
  
  
  <table>
  <form action="{{url_for('hello')}}" method="post">
      <tr>
        <td align="right">User Name:</td> 
        <td align="left"><input type="text" name="userName" ></td>
        <td align="left"></td>
      <tr>


      <tr>
        <td align="right">Email:</td> 
        <td align="left"><input type="text" name="email" ></td>
        <td align="left"></td>
        
        <td align="right"><input type="submit" value="Signup"></input></td>
      <tr>
  
  </form>
  </table>
  <!--a href="{{ url_for('upload_file') }}"><button type="submit">Sign Up</button></a><br-->
  
  
</html>


