<!doctype html>

<html>
  <head>
  <style type="text/css">
    body {
        text-align: center; 
        width: 100%
    }

    </style>

    <title>Review your training</title>
  </head>
    
  <body>
    <h1> Success! </h1>

    <h3> If you're synthesizing new file, the output should already in the folder. 
    </h3>
    <h3> If you're training the library, there is NO OUTPUT! </h3>
    <form action="{{url_for('review')}}" method="POST" enctype="multipart/form-data">
      
    <br>
    <input type="submit" name="button2" value='output' style="height:500px; width: 200px"><br>
    <input type="submit" name="button2" value='logout' style="height:500px; width: 200px"><br>
      
      
    </form>

  </body>
</html>


